.cella {
    padding: 5px;
    border: 1px solid rgb(0, 204, 0);
    margin: 5px;
    padding: 20px;  
    background-color: rgb(0, 204, 0);
}

#contentbox{
    display: flex;
    justify-content: center;
}

.flag-cell{
    background-color: red;
}